body {
    font-family: 'Nunito', sans-serif;
    background-color: #F5F5F5;
    padding: 20px 0 60px 0; 

  }

.container{
    max-width: 850px;
    background-color: white;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
   
    

}
#header{
    margin: 20px 0 20px 0px;  
    padding: 10px;
}


h1{
    font-size: 28px;
}


h3{
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 20px; */
}

.links{
    color: black;
    font-weight: bold;
    background-color: rgb(233, 255, 137); 
    padding: 2px 20px 2px 20px;
    border: 1px solid;
    box-shadow: 1px 1px 1px #c0c0c0; 

   
}

.links:hover{
    background-color: rgb(187, 255, 0);
    color: black;
    

}

.linkkari{
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 20px;
}

li{
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: white;
    padding: 20px;
}
ul{
    /* margin-top: 20px; */
    list-style-type: none; 
}

.footer{
    background-color: black;
    height: 60px;
    margin-top: 60px;
    text-align: center;
    color: rgb(192, 211, 211);
    padding: 20px;
}



  

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
 
  }
  
  .align-left {
    margin-right: auto;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    
  }
  
  .align-right {
    display: flex;
    color: black;
    font-size: 16px;
    font-weight: bolder;
  }

  .align-left:hover{
    color: #000000;
   
    
  }

  .align-right:hover{
    color: #000000
    
  }

  #MyTitle{
    background-color:  rgb(233, 255, 137);
    padding: 3px 10px 3px 10px;
}

  .sisaltoLista {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out; /* Apply transition to max-height */
  }
  
  .laajennettu {
    max-height: 1000px; /* Set a large enough value to accommodate the expanded content */
  }

  .naytaNappi{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border: 0px solid black;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.4s ease-in-out;

}
.naytaNappi:hover {
background-color: #b196fd;

}


td{
    padding: 20px 40px 0 0;
    border: 0px solid black;
    vertical-align: top;

      
}

#z{
    border: 0.8px solid black;
    padding: 3px 10px 3px 10px;
    transition: background-color 0.4s ease-in-out;
}

#z:hover{
    background-color: rgb(233, 255, 137);
    box-shadow: 1px 1px 1px #c0c0c0;
}
#listofskills{
    margin-bottom: 40px;
    
}
#a label {
    color: white;
    background-color: #b196fd;
    padding: 2px 10px 2px 10px;
    margin: 6px 3px 6px 3px;
   
}

#b label {
    color: white;
    background-color: #42d8b7;
    padding: 2px 10px 2px 10px;
    margin: 3px;
    border-radius: 20px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(233, 255, 137); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 60px;
    height: 60px;
  }
  
  #myBtn:hover {
    background-color: rgb(187, 255, 0); /* Add a dark-grey background on hover */
  }

  img {
    display: block; /* Show images by default */
  }

  /* Media query for mobile devices with a maximum width of 767px */
  @media (max-width: 767px) {
    img {
      display: none; /* Hide images on mobile */
    }
  }

  .introteksti{
    padding: 5px 20px 0 20px;
    color: gray;
}

.kuvat {

  text-align: right;
  padding: 20px;
  width: 100%;
  background-color: #F5F5F5;
  margin-top: 20px;

 
}
#myImage{
  display: block;
  margin-left: auto;
  margin-right: auto;

}